@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    --background-color: #b7b7b7;
    --primary-text-color: #1d1f1f;
    --scondary-text-color: #313838;
    --nav-bar-color: aliceblue;
    --main-color: #be1e2e;

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.secondary-text{
    color: var(--scondary-text-color);
}
button{
    cursor: pointer;
}
#navigation-bar{
    background-color: var(--nav-bar-color);
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

#logo{
    height: 75%;
    border: 5px solid var(--main-color);
    border-radius: 50%;
}

#content{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
#products{
    width: 66.6%;
    height: 100%;
    min-width: 66.6%;
    max-width: 66.6%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem)
}
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    margin: 0.2rem;
    border: 3px solid var(--main-color);
    border-radius: 5px;
}
.product-image-container{
    max-width: 6rem;
    height: 6rem;
}
.product-image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.product-name{
    display: flex;
    flex-direction: row;
}
.product-amount{
    background-color: transparent;
}
#cart{
    padding: 1rem;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartline{
    width: 90%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: solid 3px var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartline-image-container{
    max-width: 6rem;
    height: 6rem;
}
.cartline-img{
    height: 100%;
    width: 100%;
}
#cartline-items{
    overflow-y: scroll;
}
.cartline-price{
    color: var(--scondary-text-color);
}
.cart-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart-checkout{
    margin: 5%;
    width: 90%;
}
.cartline-data{
    display: flex;
    flex-direction: column;
}
footer{
    padding: 0;
    margin: 0;
}